#menuTrigger{
  position:fixed;
  top:0px;
  right:0px;
  width:140px;
  height:140px;
  background-color:white;
  display:flex;
  align-items: center;
  justify-content: center;
}

#menuTrigger {
  color:white;
}