
//Couleurs XD "Réalisations rollover"

@import '../../variables.scss';

#Realisations{
    .ban{
        background-image: url(../../assets/img/background-gradient.png);
        background-size:cover;
        min-height:100vh;
        display:flex;
        align-items: center;
        justify-content: center;
        .content{
            //border:1px solid blue;
            padding-top:50px;
            padding-bottom:50px;
            color:white;
            .encart{
                //border:1px dashed white;
                width:70vw;
                margin-left:auto;
                margin-right:auto;
                h1{
                    margin:0px;
                    font-family: 'Crimson Text';
                    font-size:86px;
                }
                p{
                    margin:0px;
                    font-family: 'Crimson Text';
                    font-size: 36px;
                    font-style: italic;
                }
            }
            .camera-container{
                text-align: center;
                padding:15px;
            }
            .buttons{
                //border:1px dashed white;
                display:flex;
                align-items: center;
                justify-content: center;
                min-height:75px;
                transition:all 0.50s;
                a{
                    opacity:0.50;
                }
                a:first-child{
                    margin-right:230px;
                }
                a:hover{
                    opacity:1;
                    box-shadow:none;
                    background-color:$red-pink;
                    color:white;
                }
            }
        }
    }

}