.header-container{
    width:85%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    z-index:2;
    .header{
        position:absolute;
        z-index:1;
        height:140px;
        display:flex;
        align-items: center;
        .logo{
            img{
                max-width: 260px;
            }
        }
    }
}