@import '../../variables.scss';

//Bon ok on va faire un fichier variables.scss
footer#Footer{
    background-color:$dark-blue;
    color:white;
    position:relative;
    padding-top:177px;
    padding-bottom:39px;

    .etiquette{
        position:absolute;
        bottom:0px;
        right:0px;
        height:474px;
        img{
            width:100%;
            height:auto;
            display:block;
        }
    }

    .icon{
        max-width: 32px;
        img{
            width:100%;
            height:auto;
        }
    }

    .icon.phone{
        img{
            width:17px;
            height:32px;
        }
    }

    .grid{
        display:grid;
        grid-template-columns: 2fr 3fr;
        width:85%;
        margin-left:auto;
        margin-right:auto;
    }

    .col-1{
        .block{
            p{
                font-family: 'Montserrat';
                font-size:18px;
                font-weight: bold;
            }
        }
    }
    .col-2{
        display:grid;
        grid-template-rows: auto 1fr auto;

        .mentions{
            font-family: 'Montserrat';
            font-size: 18px;
        }
    }

    .socials{
        display:flex;
        a{
            display:flex;
            width:62px;
            height:62px;
            background-color:$red-pink;

            align-items: center;
            justify-content: center;
            margin-right:16px;
            transition:all 0.25s;
            i{
                font-size:30px;
            }
            &:hover{
                background-color:white;
                i{
                    color:$red-pink;
                }
            }
            img{
                width:100%;
                height:auto;
            }
        }
    }
    
    .menu{
        //border:1px dashed white;
        //La Mrs Eaves n'est pas disponible sur Google Fonts, 
        //Je met une vieille georgia en remplacement
        font-family: 'Mrs Eaves OT', 'georgia';
        //Taille de la Mrs Eaves sur la maquette
        //font-size:40px;
        //Taille pour la georgia        
        font-size:28px;
        font-style: italic;
        display:flex;
        justify-content: space-between;
        //border:1px dashed red;

        font-style: italic;

        a{
            color:white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                cursor:pointer;
            }
        }
    }

    p.accroche{
        font-size:25px;
        margin-top:96px;
        font-family: 'Montserrat';
        //border:1px solid green;
        a.contact{
            font-family: 'Mrs Eaves OT', 'georgia';
            font-style: italic;
            font-size: 28px;

        }
    }
}