@import '../../variables.scss';

#Realisation{
    min-height:100vh;
    padding-top:100px;
    background-color:$silver;
    .container{
        width:85%;
        margin-left:auto;
        margin-right:auto;

        .iframe-container{
            

        }

        .content{
            margin-top:50px;
            margin-bottom:50px;

            font-family: 'Montserrat';
            font-size:20px;
        }
    }
}