@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
}

#Logo{
  position:absolute;
}

#fakeMenu{
  position:absolute;
  border:2px dashed white;
  a{
    color:aqua;
  }
}

#menuTrigger{
  position:fixed;
  top:0px;
  right:0px;
  width:140px;
  height:140px;
  background-color:#EE322C;
  display:flex;
  align-items: center;
  justify-content: center;
}

#menuTrigger a{
  color:white;
}
