@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#Logo{
  position:absolute;
}

#menuTrigger{
  position:fixed;
  top:0px;
  right:0px;
  width:100px;
  height:100px;
  background-color:#EE322C;
  display:flex;
  align-items: center;
  justify-content: center;
}

#menuTrigger a{
  color:white;
}
