@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'variables.scss';

*{
  box-sizing: border-box;
}

#Logo{
  position:absolute;
}

#fakeMenu{
  position:absolute;
  border:2px dashed white;
  a{
    color:aqua;
  }
}



/* 
  Ceci est nouveau avec l'intégration de la page "Réalisations" 
*/

//Peut-être mettre ceci dans App.scss du coup...
.btn{
    width:260px;
    height:101px;
    text-transform:uppercase;
    color:white;
    background-color:$red-pink;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-size:37px;
}

