@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600|Montserrat:300&display=swap');
@import 'variables.scss';

*{
  box-sizing: border-box;
}

#Logo{
  position:absolute;
}

.btn{
    width:260px;
    height:101px;
    text-transform:uppercase;
    color:white;
    background-color:$red-pink;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-size:37px;
    transition:all 0.25s;
    &:hover{
      background-color:white;
      color:$red-pink;
      box-shadow: 0px 0px 50px #EF282C4D;
      cursor:pointer;
    }
}

 a:active, a:focus{ outline:none; }

@keyframes cameraBlink{
    0%{
        opacity:0;
    }
    80%{
        opacity:1;
    }
    100%{
        opacity:1;
    }
}