$white:#ffffff;
$dark-blue:#0F202F;
$red-pink:#EF282C;
//Le light gray semble incorrecte (valeur d'opacity à 25)
$light-gray:#000000;
$gray:#B7B7B7;
$silver:#F2EEEA;
$deep-blue:#040D1B;
$orange-red:#FC1A1C;
//Pareil à 30%
$light-pink:#EF282C;